/* ========================== 1 ========================== */

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ========================== 2 ========================== */

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #215A8F;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* ========================== 3 ========================== */

ul.menu li {
    float: left;
}

/* ========================== 4 ========================== */

ul.menu li a {
    display: block;
    color: #f2eddb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* ========================== 5 ========================== */

ul.menu li a:hover {
    background-color: #f2eddb;
    color: #215A8F;
}

/* ========================== 6 ========================== */

body {
    background-size: auto;
    background-image: url('https://cdn.discordapp.com/attachments/932212634386841621/1170346369026904125/cloud_background.png?ex=6558b4fe&is=65463ffe&hm=e988f1e1ed6a25cc45e6cd84bb50584981883455257bc5bd03e82be8ea5dec9b&;');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ========================== 7 ========================== */

body, h2, p {
    margin: 0;
    padding: 0;
    color: #204b53;
}

/* ========================== 8 ========================== */

.body-contact {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* ========================== 9 ========================== */

.container {
    display: flex;
}

/* ========================== 10 ========================== */

.container1 {
    background-color: #f2eddb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* ========================== 11 ========================== */

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 70;
    margin-right: 70;
    margin-top: 110;
    margin-bottom: 120;
}

/* ========================== 12 ========================== */

h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #215A8F;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

/* ========================== 13 ========================== */

h2 > th, td {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 8px;
    text-align: justify;
    color: #000080;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========================== 14 ========================== */

footer {
    background-color: #215A8F;
    color: #f2eddb;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ========================== 15 ========================== */

.footer-content p {
    font-size: small;
}

/* ========================== 16 ========================== */

.custom-class {
    /* Add your styles here */
    background-color: #FFD700;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}

/* ========================== 17 ========================== */

h1 {
    color: #215A8F;
}

/* ========================== 18 ========================== */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========================== 19 ========================== */

label {
    margin-top: 10px;
    font-weight: bold;
    color: #215A8F;
}

/* ========================== 20 ========================== */

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s;
}

/* ========================== 21 ========================== */

input:focus, textarea:focus {
    border-color: #007bff;
}

/* ========================== 22 ========================== */

input[type="submit"] {
    background-color: #3b7fc0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* ========================== 23 ========================== */

input[type="submit"]:hover {
    background-color: #215A8F;
    font-weight: bold;
    color: #fff;
}

/* ========================== 24 ========================== */

p {
    font-size: large;
}

/* ========================== 25 ========================== */

.container2 {
    background-color: #f2eddb;
    padding: 40px;
    margin: 100;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* ========================== 26 ========================== */

.p-about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
}

/* ========================== 27 ========================== */

.p-home {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
}

/* ========================== 28 ========================== */

.container3 {
    background-color: #f2eddb;
    padding: 1px 1px 5px 1px;
    margin: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* ========================== 29 ========================== */

.h1-home {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #215A8F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
}